.register {
  margin: 10px 20px;
}

.mid-width {
  min-width: 150px;
  max-width: 600px;
  width: 100%;
}
.button {
  display: grid;
  justify-content: right;
}

.rating {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
}

.book-card {
  margin: 10px 20px;
}
