.book-register {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

mat-form-field {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.button {
  display: grid;
  justify-content: right;
}

.input-rating {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
}

.book-card {
  margin: 10px;
}
