<mat-card class="register">
    <mat-card-title class="register">書籍登録</mat-card-title>
    <form class="input-area">
        <div>
            <mat-form-field class="mid-width" appearance="fill">
                <mat-label>書籍名</mat-label>
                <input matInput placeholder="書籍名">
            </mat-form-field>

        </div>

        <div>
            <mat-form-field class="mid-width" appearance="fill">
                <mat-label>あらすじ</mat-label>
                <textarea matInput placeholder="あらすじ"></textarea>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="rating"appearance="fill">
                <mat-label>評価点</mat-label>
                <input matInput placeholder="評価点">
            </mat-form-field>

        </div>

    </form>
    <mat-card-footer>
        <section>
            <div class="button">
            <button mat-raised-button color="accent">追加</button>
            </div>
        </section>
    </mat-card-footer>
</mat-card>

<mat-card class="book-card">
    <mat-card-title>※追加された本※</mat-card-title>
    <mat-card-content>
        <div>
            〜あらすじ〜
        </div>
        <div>評価点</div>
    </mat-card-content>
    <mat-card-footer>
        <section>
            <div class="button">
            <button mat-raised-button color="warn">削除</button>
            </div>
        </section>
    </mat-card-footer>
</mat-card>

<mat-card class="book-card">
    <mat-card-title>※追加された本※</mat-card-title>
    <mat-card-content>
        <div>
            〜あらすじ〜
        </div>
        <div>評価点</div>
    </mat-card-content>
    <mat-card-footer>
        <section>
            <div class="button">
            <button mat-raised-button color="warn">削除</button>
            </div>
        </section>
    </mat-card-footer>
</mat-card>


<img src="https://drive.google.com/uc?id=1RPpbzbHpE_3ScOIez5IWsBfF-flRkyG0" width="800">
