<mat-card class="register">
    <mat-card-title class="register">書籍登録</mat-card-title>
    <form>
        <div>
            <mat-form-field class="input-area" appearance="fill">
                <mat-label>書籍名</mat-label>
                <input matInput placeholder="書籍名">
            </mat-form-field>

        </div>

        <div>
            <mat-form-field class="input-area" appearance="fill">
                <mat-label>あらすじ</mat-label>
                <textarea matInput placeholder="あらすじ"></textarea>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="rating"appearance="fill">
                <mat-label>評価点</mat-label>
                <input matInput placeholder="評価点">
            </mat-form-field>

        </div>

    </form>
    <section>
        <mat-card-actions align="end">
            <button mat-raised-button color="accent">追加</button>
        </mat-card-actions>
    </section>
</mat-card>

<li *ngFor="let book of books">
    <mat-card class="book-card">
        <mat-card-title class="text-wrap">{{book.name}}</mat-card-title>
            <mat-card-content class="text-wrap">
                <div>
                    {{book.detail}}
                </div>
                <div>評価:{{book.evaluation}}点</div>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-raised-button color="warn">削除</button>
            </mat-card-actions>
    </mat-card>
</li>

<mat-card class="book-card">
    <mat-card-title class="text-wrap">※追加された本※</mat-card-title>
        <mat-card-content class="text-wrap">
            <div>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            </div>
            <div>評価点</div>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="warn">削除</button>
        </mat-card-actions>
</mat-card>
